<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form validate class="example-form" [formGroup]="authForm">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </mat-card-content>
      <button [ngClass]="(!failed)?'mat-stroked-button':'mat-stroked-button-error'" color="accent" class="btn-block" (click)="tryLogin()">Log in</button>
      <div *ngIf="failed">Usuario o contraseña incorrectas</div>
    </form>
  </mat-card>

</div>