<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div>Brains</div>
  <span class="nav-tool-items">
    <a *ngIf="!logedIn" mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a *ngIf="!logedIn" mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    <a *ngIf="logedIn" mat-button routerLink="app" routerLinkActive="active">Home</a>
    <a *ngIf="logedIn" mat-button routerLink="conf" routerLinkActive="active">Configuración</a>
    <a *ngIf="logedIn" mat-button (click)="logOut()" routerLinkActive="active">LogOut</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>